*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #222222;
    color: #eeeeee;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

#root {
    max-width: 100vw;
    max-height: 100vh;
    overflow-x: hidden;
    margin: 0 auto;
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0 1rem 0;
    border-bottom: 2px solid #444444;
}

section {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

a {
    border-bottom: 2px solid #444444;
    color: inherit;
    text-decoration: none;
    padding-bottom: 0.2rem;
}

.QuestionImage {
    max-width: 80vw;
    height: auto;
    border: 2px solid #444444;
    border-radius: 8px;
}
